<h1>Gitlab Pages tutorial</h1>

<p> Help <a href="https://pages.gitlab.io">About GitLab Pages </a> </p>
<br>
1- Fork the example project
<br>
2 - Edit the index.html in order to initialize the project
<br>
3 - That's it! Just go to https://username.gitlab.io/plain-html/



